.menu-pedidos{
    color: #b89c62;
}
.grid-pedidos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    margin: 30px auto;
    padding: 60px;
    width: 80%;
    background-color: black;
    border-radius: 20px;
}

.pedido {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.pedido img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.pedido h3 {
    margin-top: 10px;
    color: #000;
}

.pedido p {
    font-size: 14px;
    color: #333;
    margin: 10px 0;
}

.pedido button {
    background-color: #b89c62;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.pedido button:hover {
    background-color: #8b7544;
}